Django>=5.1.4
# For PostgreSQL
psycopg2-binary>=2.9.10
# For HTTP requests
# requests>=2.32.3
# Channels for WebSockets
channels>=4.2.0
# ASGI server for WebSockets
uvicorn[standard]>=0.34.0
gunicorn
# For serving static files in production
whitenoise>=6.8.2
# For cors headers
django-cors-headers>=4.6.0
# For pretty logs
prettyprinter