:root {
  --color-100: #e02da7;
  --color-300: #6c0000;
  --color-400: #5f0142;
  --color-500: #EA6A00;
  --color-510: #A44A00;
  --color-700: #2e0120;
  --color-900: #1a1a1a;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  height: 100%;
}

#page {
  position: relative;
  height: 100%;
  width: 100%;
}

.flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  cursor: pointer;
  padding: 0;
  border: none;
}

.icon-button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: inherit;
  background-color: var(--color-900);
  transition: border-color 0.25s;
}

.icon-button:hover,
.icon-button:focus,
.icon-button:focus-visible {
  outline: 2px solid var(--color-100);
}

.input-container {
  border-radius: 8px;
  border: 1px solid transparent;
  border: none;
  width: max-content;
}

.input-container:focus-within,
.input-container:focus-visible {
  outline: 2px solid var(--color-100);
}

.call-input {
  border-radius: 8px 0 0 8px;
  border: none;
  outline: none;
  padding: 14.5px;
}

.call-button {
  border-radius: 0 8px 8px 0;
  border: none;
  outline: none;
  padding: 10px;
}

.call-button:hover,
.call-button:focus,
.call-button:focus-visible {
  background-color: var(--color-700);
  border-color: transparent;
  outline: none;
}

.user-phone {
  color: var(--color-100);
  font-weight: 700;
}

.video-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  width: 100vw;
  max-width: 800px;
}

.localVid,
.remoteVid {
  max-height: 100%;
  max-width: 100%;
}

/* @media screen and (max-width: 768px) {

  .localVid,
  .remoteVid {
    height: 50%;
  }
} */

.localVid {
  position: absolute;
  bottom: 3rem;
  left: 2rem;
  border-radius: 8px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.6);
  width: 30%;
}

.hangup-button {
  position: absolute;
  bottom: 0;
  left: 50;
  border-radius: 50%;
  margin: 1em;
  line-height: 0%;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.8);
  cursor: pointer;
  background-color: transparent;
}

.hangup-button:hover,
.hangup-button:focus,
.hangup-button:focus-visible {
  /* border: 1px solid white; */
  outline: 4px solid var(--color-300);
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  background-color: var(--color-900);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.8);
  border: 2px solid black;
  border-radius: 16px;
  transform: translate(-50%, -50%);
  width: 240px;
  height: 80px;
}

.call-declined,
.error {
  background-color: var(--color-300);
}

.call-hangup {
  background-color: var(--color-510);
}